.page-title {
  font-size: 24px;
  color: #222222;
}
.title {
  font-size: 16px;
  color: #222222;
}
.text {
  font-size: 14px;
  color: #222222;
}
.text-sec {
  font-size: 14px;
  color: #666666;
}
.divider {
  border-bottom: 1px solid #ededed;
}
.list-divider {
  border-bottom: 1px solid #fafafa;
}
.card {
  background-color: #ffffff;
}
header {
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
}

header .logo-text {
  background-color: #222222;
  padding: 15px;
  border-radius: 7px;
  height: fit-content;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  position: relative;
}
header div:nth-child(1) {
  position: relative;
  animation: 0.5s linear forwards fromTop;
}
@keyframes fromTop {
  from {
    top: -60px;
  }
  to {
    top: 0px;
  }
}
header .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .search-box {
  background-color: #f9f9f9;
  padding: 10px 20px;
}
header .search-input {
  width: 80%;
  background: none;
  box-sizing: border-box;
  border: none;
  padding: 10px 0px;
}
header .search-input::placeholder {
  font-size: 14px;
  color: #666666;
}
header .text-center.pointer.active .title {
  color: #24a0ed;
  transition: all 0.3s ease-in-out;
}
header .text-center.pointer.active svg path {
  fill: #24a0ed;
  transition: all 0.3s ease-in-out;
}
header .text-center.pointer.active img {
  border: 2px solid #24a0ed;
  transition: border 0.3s ease-in-out;
}
.home {
  position: relative;
  animation: 0.5s linear forwards fromLeft;
}
@keyframes fromLeft {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}
.home .friend-list-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.home .list-icon {
  transition: all 0.3s ease-in-out;
}
.home .list-icon.active {
  transform: rotate(90deg);
  transition: all 0.3 ease-in-out;
}
.left-content {
  background-color: #ffffff;
  max-height: 30px;
  padding: 20px 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.right-content {
  background-color: #ffffff;
  max-height: 30px;
  padding: 20px 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.right-content .right-icon {
  transition: all 0.3s ease-in-out;
}
.right-content .right-icon.active {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}
.right-content .add-btn {
  width: 100%;
  background: none;
  padding: 10px 0px;
  border: 1px solid #222222;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #222222;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.right-content .add-btn:hover {
  background-color: #222222;
  color: #ffffff;
}

.left-content .show-list div:last-child,
.right-content .show-list div:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.create-content .post-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.create-content .post-title {
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: none;
  padding: 15px;
}
.create-content input[type="file"] {
  display: none;
}

.create-content label .img-preview {
  border: 2px dotted #ededed;
  padding: 30px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0px;
}
.create-content .create-post-btn {
  width: 30%;
  background: none;
  cursor: pointer;
  padding: 10px 0px;
  border: 1px solid #222222;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  color: #222222;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.create-content .create-post-btn:hover {
  background-color: #222222;
  color: #ffffff;
}
.post-content .post-creator-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.post-content .post-card-img {
  width: 100%;
  height: fit-content;
}

.post-content .heart-icon.active path {
  fill: #222222;
}
.pos-share-box {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}
.pos-share-box .share-box {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: fit-content;
  background-color: #222222;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0px auto;
  animation: 0.3s linear forwards toRight;
}
@keyframes toRight {
  from {
    right: 0px;
    opacity: 0;
  }
  to {
    right: 20px;
    opacity: 1;
  }
}

.share-box p {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
.settings .right-setting {
  animation: 0.5s linear forwards isOpacity;
}
@keyframes isOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.left-setting {
  border-right: 1px solid #e0e0e0;
  padding-right: 20px;
  position: relative;
  animation: 0.5s linear forwards fromLeft;
}

.left-setting .sideline {
  position: absolute;
  right: -2px;
  background-color: #24a0ed;
  width: 3px;
  transition: all 0.3s ease-in-out;
}

.left-setting .tab-text.active {
  color: #24a0ed;
}
.change-user-input {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  border: none;
}
.change-user-btn {
  background: none;
  width: 15%;
  padding: 10px 0px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #24a0ed;
  color: #24a0ed;
  transition: all 0.3s ease-in-out;
}
.change-user-btn:hover {
  background-color: #24a0ed;
  color: #ffffff;
}
.del-user-btn {
  background: none;
  width: 15%;
  padding: 10px 0px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #d11a2a;
  color: #d11a2a;
  transition: all 0.3s ease-in-out;
}
.del-user-btn:hover {
  background-color: #d11a2a;
  color: #ffffff;
}
.post-row .page-title {
  position: relative;
  animation: 0.5s linear forwards fromLeft;
}

.post-row .search-post {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  padding: 20px;
}
.create-post-btn {
  width: 100%;
  background-color: #222222;
  font-size: 14px;
  color: #ffffff;
  padding: 15px 0px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.post-image {
  width: 100%;
  height: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  filter: brightness(70%);
}
.img-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.fixed-menu-bar:has(.active) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-menu-bar {
  position: absolute;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  top: 30px;
  right: 10px;
  width: 25%;
  background-color: #ffffff;
  cursor: pointer;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.img-menu-bar.active {
  max-height: 78px;
  opacity: 1;
}
.img-menu-bar .edit-bar:hover {
  background-color: #24a0ed;
  color: #ffffff;
}
.img-menu-bar .del-bar:hover {
  background-color: #d11a2a;
  color: #ffffff;
}
.chat-fixed-box {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
  background-color: #ffffff;
}
.chat-icon {
  transition: transform 0.3s ease-in-out;
}
.chat-icon.active {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.img-box:last-of-type {
  border-bottom: none;
}
.chat-img.active {
  border: 2px solid #24a0ed;
}
.chat-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.menu-icon-bar {
  display: none;
}
.create-content .w10 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-icon-post {
  background-color: #222222;
  text-align: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-icon-post svg {
  width: 22px;
  height: 22px;
}
.user-icon-post svg path {
  fill: #ffffff;
  stroke: #ffffff;
}
.create-content img {
  width: 0px;
  height: 0px;
}
.create-content img.active {
  width: 100%;
  height: 200px;
}
.fix-card {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: fit-content;
  background-color: #00684a;
  padding: 5px 20px;
  border-radius: 10px;
}
.fix-card.danger {
  background-color: #d11a2a;
}
.fix-card p {
  font-size: 16px;
  color: #ffffff;
}
.user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-modal .user-modal-content {
  background-color: #ffffff;
  width: 40%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: -3px 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.modal-text {
  font-size: 16px;
  color: #000000;
  z-index: 100;
}
.modal-text.active {
  color: #ffffff;
}
.user-modal .user-modal-content .bg {
  position: absolute;
  bottom: 0;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.user-modal .user-modal-content input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #ececec;
  border-radius: 10px;
}
.user-modal .user-modal-content input[type="number"],
.user-modal .user-modal-content input[id="usersex"] {
  width: 90%;
}
.user-modal .user-modal-content button {
  width: fit-content;
  padding: 10px 25px;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #000000;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.user-modal .user-modal-content button:hover {
  background-color: #000000;
  color: #ffffff;
}
.user-modal .user-modal-content .danger-btn {
  width: fit-content;
  padding: 10px 30px;
  border: 1px solid #d11a2a;
  color: #d11a2a;
  border-radius: 10px;
  background: none;
}
.user-modal .user-modal-content .danger-btn:hover {
  background-color: #d11a2a;
  color: #ffffff;
}
.user-modal .user-modal-content .friend-list {
  padding: 0px;
  list-style-type: none;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user-modal .user-modal-content .friend-list .divider.pb10:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.user-modal .user-modal-content .friend-list::-webkit-scrollbar {
  display: none;
}
.user-modal .user-modal-content .friend-list img {
  width: 50px;
  height: 50px;
  margin-right: 13px;
  border-radius: 50%;
}
.user-modal .user-modal-content .friend-list .danger-text {
  font-size: 16px;
  color: #d11a2a;
}
.all-post-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.all-post-row .card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  box-shadow: -3px 5px 6px 3px #ececec;
  gap: 20px;
}
.all-post-row .card img {
  width: 100%;
  height: 300px;
  filter: brightness(70%);
}
.all-post-row .card .menu-post {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.all-post-row .card .menu-post .menu-post-content {
  width: fit-content;
  background-color: #ffffff;
  padding: 10px 15px;
  display: none;
}
.all-post-row .card .menu-post .menu-post-content.active {
  display: block;
}
.post-row-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-row-modal-content {
  background-color: #ffffff;
  box-shadow: -3px 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  width: 40%;
}
.post-row-modal-content img {
  width: 100%;
  height: 300px;
}
.post-row-modal-content .bg {
  position: absolute;
  bottom: 0;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.post-row-modal-content .edit-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.post-row-modal-content .edit-form input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ececec;
  box-sizing: border-box;
}
.post-row-modal-content .edit-form button {
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.post-row-modal-content .edit-form button:hover {
  background: #000000;
  color: #ffffff;
}
.post-row-modal .post-row-modal-content .del-post button {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #d11a2a;
  color: #d11a2a;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.post-row-modal .post-row-modal-content .del-post button:hover {
  background: #d11a2a;
  color: #ffffff;
}
/* Media Responsive Design */
@media (max-width: 1536px) {
  .home .left-content {
    width: 28%;
  }
  .home .create-content .create-content-bar,
  .home .post-content .post-info {
    width: 84%;
  }
  .home .main-content {
    width: 40%;
  }
  .home .right-content {
    width: 28%;
  }
}

@media (max-width: 1280px) {
  .home .main-content {
    width: 42%;
  }
  .right-card-btn-row {
    width: 35% !important;
  }
  .post-row .post-search {
    width: 50%;
  }
  .all-post-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .home {
    flex-wrap: wrap;
    gap: 20px;
  }
  .home .create-content .create-content-bar,
  .home .post-content .post-info {
    width: 90%;
  }
  .home .right-content {
    order: 2;
  }
  .home .main-content {
    order: 3;
  }

  .home .left-content,
  .home .right-content,
  .home .main-content {
    flex: 1 1 calc(45%);
  }
  .home .main-content {
    flex-basis: 100%;
  }
  .settings .left-setting {
    width: 20%;
  }
  .settings .set {
    width: 70%;
  }
  .settings .right-setting .change-user-btn,
  .settings .right-setting .del-user-btn {
    width: 30%;
  }
  .post-row .post-search {
    width: 65%;
  }
  .user-modal .user-modal-content {
    width: 50%;
  }
  .all-post-row {
    gap: 20px;
  }
  .post-row-modal-content {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .user-modal .user-modal-content {
    width: 65%;
    height: 50%;
    overflow-y: scroll;
  }
  .isContent {
    margin-top: 40px !important;
    margin-bottom: 160px !important;
  }
  header {
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding: 0px 0px !important;
  }
  header .right-header {
    width: 30%;
  }
  header .right-header nav {
    width: 80%;
  }
  header .search-box {
    position: relative;
    width: 10%;
    padding: 0px;
    margin-top: -10px;
    background: none;
  }
  header .search-box svg {
    width: 35px;
    height: 35px;
  }
  header .search-box svg.active path {
    fill: #24a0ed;
    stroke: #24a0ed;
  }
  header .search-box .search-input {
    background-color: #ffffff;
    padding: 15px;
    width: 50%;
    display: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  header .search-box .search-input.active {
    position: fixed;
    bottom: 130px;
    display: block;
    animation: 0.3s linear forwards fromRight;
  }
  @keyframes fromRight {
    from {
      opacity: 0;
      right: 0;
    }
    to {
      opacity: 1;
      right: 30px;
    }
  }
  .pos-share-box .share-box {
    bottom: 140px;
  }
  .home .create-content .create-content-bar,
  .home .post-content .post-info {
    width: 83%;
  }
  .settings .left-setting {
    width: 30% !important;
    padding-right: 5px !important;
  }
  .settings .set {
    width: 65% !important;
  }
  .settings .right-setting .change-user-btn,
  .settings .right-setting .del-user-btn {
    width: 40% !important;
  }
  .post-row {
    flex-direction: column !important;
    gap: 30px !important;
  }
  .post-row .post-search {
    width: 100%;
  }
  .post-row .post-search .post-search-row {
    width: 65% !important;
  }
  .post-row .post-search .post-btn-row {
    width: 30%;
  }
  .img-menu-bar {
    width: 33%;
  }
  .all-post-row {
    grid-template-columns: repeat(2, 1fr);
  }
  .post-row-modal-content {
    width: 60%;
    height: 50%;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .post-row-modal-content::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 600px) {
  .user-modal .user-modal-content {
    width: 75%;
    height: 50%;
    overflow-y: scroll;
  }
  header .logo-text {
    padding: 8px !important;
  }
  header .right-header .title {
    font-size: 14px !important;
  }
  header .right-header img {
    width: 30px;
    height: 30px;
  }
  header .search-icon {
    width: 35px !important;
    height: 35px !important;
  }
  .home .left-content {
    flex: calc(100%) !important;
  }
  .home .create-content .create-content-bar,
  .home .post-content .post-info {
    width: 80%;
  }
  .icon-row {
    width: 20% !important;
  }
  .settings {
    flex-direction: column !important;
    gap: 40px !important;
  }
  .settings .left-setting {
    width: 100% !important;
    flex-direction: row !important;
    border-right: none !important;
    padding-right: 0px !important;
  }
  .settings .sideline {
    display: none !important;
  }
  .settings .set {
    width: 100% !important;
  }
  .settings .left-setting .title {
    font-size: 14px;
  }
  .settings .right-setting .change-user-btn,
  .settings .right-setting .del-user-btn {
    width: 60% !important;
  }
  .create-content .w10 {
    width: 15%;
  }
  .user-icon-post {
    background-color: #222222;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-icon-post svg {
    width: 20px;
    height: 20px;
  }
  .all-post-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .post-row-modal-content {
    width: 65%;
  }
}
